@page "/charts"
@using System.Collections.Generic
@using RemoteCarDiagz.Shared.Domain
@using RemoteCarDiagz.Shared.Requests
@inject HttpClient Http

<div>
    <iframe class="charts-iframe" src="https://grafana.remotecardiagz.pl/public-dashboards/2bdd91aff797405cbc7fea2a191f1940" frameborder="0"></iframe>
</div>