@page "/charts"
@inherits ChartsComponentBase

@if (_configuration == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        <iframe class="charts-iframe" src="@GrafanaUrl" frameborder="0"></iframe>
    </div>
}