@page "/fetchdata"
@using System.Collections.Generic
@using RemoteCarDiagz.Shared.Domain
@inject HttpClient Http

<h1>Active PIDs</h1>

<p>Active PIDs retrieved from server</p>

@if (activeMeasurements == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Value</th>
                <th>IsActive</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var measurement in activeMeasurements)
            {
                <tr>
                    <td>@measurement.Value</td>
                    <td>@measurement.IsActive</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Measurement> activeMeasurements;

    protected override async Task OnInitializedAsync()
    {
        activeMeasurements = await Http.GetFromJsonAsync<List<Measurement>>("configuration");
    }
}
